<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'/'">
            <img src="/assets/logo1.png" width="30%" class="d-inline-block align-top" alt="logo">
        </a>

        <button class="navbar-toggler custom-toggler ml-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-1 py-2">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >About Us</a>
                </li>
                <li class="nav-item px-1 py-2">
                    <a [routerLink]="['/company/list']" routerLinkActive="router-link-active"  class="nav-link">Companies</a>
                </li>
                <li class="nav-item px-1 py-2 py-2">
                    <a [routerLink]="['/company/report/details/&5463']" routerLinkActive="router-link-active"  class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item px-1 py-2 py-2">
                    <a [routerLink]="['/emission/reports']" routerLinkActive="router-link-active" class="nav-link">Emission Reports</a>
                </li>
                <li class="nav-item px-1 py-2 py-2">
                    <a [routerLink]="['repository/view']" routerLinkActive="router-link-active" class="nav-link">PDF
                        Repository</a>
                </li>

                
                <!-- <li class="nav-item dropdown px-3 py-2">
                    <div class="dropdown">
                        <a class="nav-link">Language</a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->