<!-- Meausers Start -->
<section class="measures">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="font-weight-bold heading"><span>K</span>ey <span>P</span>erformance
                        <span>I</span>ndicators<span>?</span></h2>
                    <div class="col-md-1 line"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 offset-md-1">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit
                            amet...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit
                            amet...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 offset-md-1">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit
                            amet...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit
                            amet...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -ochre"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="cards">
                    <div class="card -tomato"><span>Lorem ipsum dolor sit amet
                            consectetur...</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Meausers End -->